# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/

# Results
results/

# OS
.DS_Store
Thumbs.db

# uv
uv.lock
